footer {
    padding: 140px 13% 30px 13%;
    background-color: #111116;
    .upper-section {
        display: flex;
        justify-content: space-between;
        h1{
            font-family: "Poppins";
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #F2F2F2;
        }
        a {
            font-family: "Rubik";
            font-weight: 400;
            font-size: 16px;
            line-height: 18.96px;
            color: #B2B2B2;
        }
        span {
            font-weight: 500;
            color: #F2F2F2;
        }
        .first-column {
            display: flex;
            flex-direction: column;
            a {
                line-height: 32px;
                margin-top: 3.5px;
                margin-bottom: 48.85px;
                width: 307.86px;
            }
        }
        .column {
            display: flex;
            flex-direction: column;
            gap: 27px;
        }
    }
    hr {
        border: 1px solid rgba(179, 179, 179, 0.193);
        margin-top: 50px;
        margin-bottom: 16px;
    }
    .copyright {
        color: #B2B2B2;
        display: flex;
        justify-content: center;
        font-family: "Rubik";
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }
}

@media only screen and (max-width: 600px) {
    footer{
        padding: 80px 6.4% 7.63px 6.4%;
        .upper-section {
            flex-direction: column;
            .first-column {
                .icons-container {
                    display: none;
                }
                .mobile-layout {
                    display: block;
                }
                a {
                    margin-bottom: 30px;
                }
            }
            .column {
                margin-bottom: 24px;
            }
            .contacts {
                margin-bottom: 30px;
            }
            
        }
        hr {
            margin-top: 40px;
        }
    }
    
}   