.section-2 {
    margin-top: 77px;
    padding: 63px 13% 81px 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left-side {
        width: 668.06px;
        height: 632px;
        position: relative;
        .blue-circle {
            width: 574px;
            height: 574px;
            background-color: #D4EFF6;
            border-radius: 1000px;
            position: absolute;
            bottom: 0;
        }
        .yellow-circle {
            width: 453px;
            height: 453px;
            background-color: #FEE095;
            border-radius: 1000px;
            position: absolute;
            right: 0;
        }
        .play-circle {
            width: 120px;
            height: 120px;
            background-color: #FFFFFF;
            border-radius: 200px;
            box-shadow: 5px 30px 50px 0px #2B2A2A0D;
            position: absolute;
            right: 40px;
            bottom: 147px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .right-side {
        p {
            width: 453px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .section-2 {
        flex-direction: column;
        padding: 0;
        margin: 0;
        .left-side {
            margin: 33px 9.5px 0 20px;
            width: 344.9px;
            height: 326.28px;

            .blue-circle {
                width: 296.34px;
                height: 296.34px;
            }
            .yellow-circle {
                width: 233.87px;
                height: 233.87px;
            }
            .play-circle {
                width: 61.95px;
                height: 61.95px;
                bottom: 75.44px;
                right: 20.41px;
                svg {
                    width: 16.52px;
                    height: 16px;
                }
            }
        }
        .right-side {
            padding: 44.46px 24px 80.15px 24px;
            p {
                width: 100%;
                margin-top: 16px;
                margin-bottom: 30px;
            }
        }
    }
    
}   