* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.h-1 {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 58px;
    color: #111116;
}

.p-1 {
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #6F6F76;
}

.primary-btn {
    width: 180px;
    height: 70px;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #FFA502;
    box-shadow: 5px 10px 30px 0px #FFA5024D;
    font-family: "Rubik";
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 33.62px 13% 33.62px 13%;
    background-color: #F7FCF9;
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        .menu {
            margin-left: 120px;
            display: flex;
            gap: 60px;
            font-family: 'Rubik';
            font-size: 18px;
            color: #111116;
            a {
                text-decoration: none;
                position: relative;
            }
            a:hover::after {
                content: '';
                position: absolute;
                bottom: -3.43px;
                left: 0;
                width: 50%; 
                height: 1.38px; 
                background-color: #FFBE48; 
                margin-left: 25%;
            }
        }
    }
    button {
        border: none;
        border-radius: 15px;
        color: #FFFFFF;
        font-family: 'Rubik';
        font-size: 16px;
        background-color: #111116;
        box-shadow: 0px -10px 20px 0px #585867 inset;
        width: 162px;
        height: 64px;
    }
    .category {
        display: none;
    }
}

.banner {
    background: linear-gradient(to top, #FFFBF4 21.32%, #F7FCF9 132.04%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 106.17px 7.5% 38.5px 13%;
}
.left-side {
    h1 {
        font-family: "Poppins";
        font-size: 80px;
        color: #111116;
        line-height: 90px;
    }
    p {
        font-family: "Rubik";
        font-size: 18px;
        color: #6F6F76;
        width: 29.5vw;
        line-height: 36px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
.right-side {
    position: relative;
    .circle {
        width: 674.26px;
        height: 674.26px;
        background: linear-gradient(180deg, #FFF1DB 36.7%, #FAFCF7 100%);
        border-radius: 1000px;
    }
    .email-noti {
        position: absolute;
        left: -5.2%;
        top: 12.7%;
        .email-card {
            background-color: #FFFFFF;
            box-shadow: 5px 15px 50px 0px #0000001A;
            border-radius: 20px;
            padding: 32px 26px 24px 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            position: relative;
            .email-icon {
                background-color: #6B47FC;
                box-shadow: 2px 8px 20px 0px #6B47FC80;
                padding: 12px;
                width: fit-content;
                border-radius: 50px;
                display: flex;
                align-items: center;
                position: absolute;
                top: -24px;
                left: 76px;
            }
            h3 {
                font-family: "Poppins";
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                color: #111116;
            }
            p {
                font-family: "Rubik";
                font-size: 16px;
                line-height: 26px;
                color: #6F6F76;
            }
        }
    }
    .student-noti {
        position: absolute;
        right: 0;
        top: 5.5%;
        .student-card {
            background-color: #FFFFFF;
            box-shadow: 5px 15px 50px 0px #0000001A;
            border-radius: 20px;
            padding: 32px 26px 32px 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            position: relative;
            .heart-icon {
                background-color: #51C8FF;
                box-shadow: 2px 8px 20px 0px #51C8FF80;
                padding: 12px;
                width: fit-content;
                border-radius: 50px;
                display: flex;
                align-items: center;
                position: absolute;
                top: -24px;
                left: 76px;
            }
            h3 {
                font-family: "Poppins";
                font-size: 30px;
                line-height: 45px;
                font-weight: 700;
                color: #111116;
            }
            p {
                font-family: "Rubik";
                font-size: 16px;
                line-height: 28px;
                color: #6F6F76;
            }
            .students-container {
                display: flex;
                flex-direction: row;
                margin-top: 16px;
                .student {
                    width: 46.33px;
                    height: 46.33px;
                    background-color: #C4C4C4;
                    border: 0.41px solid #FFFFFF;
                    border-radius: 50px;
                }
                .overlap {
                    margin-left: -10px;
                }
            }
        }
    }
    .painting {
        position: absolute;
        top: 46%;
        left: -6.5%;
        width: 115%;
        img {
            width: 100%;
            height: auto;
        }
    }
}
    
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 73px;
    padding: 77px 13% 70px 13%;
    gap: 40px;
    .logos-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img{
            padding: 10px 17px 5px 17px;
            height: fit-content;
        }
        img:hover {
            border-radius: 20px;
            box-shadow: 5px 30px 60px 0px #5555551A;
        }
    }
}

.section-2 {
    margin-top: 77px;
    padding: 63px 13% 81px 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left-side {
        width: 668.06px;
        height: 632px;
        position: relative;
        .blue-circle {
            width: 574px;
            height: 574px;
            background-color: #D4EFF6;
            border-radius: 1000px;
            position: absolute;
            bottom: 0;
        }
        .yellow-circle {
            width: 453px;
            height: 453px;
            background-color: #FEE095;
            border-radius: 1000px;
            position: absolute;
            right: 0;
        }
        .play-circle {
            width: 120px;
            height: 120px;
            background-color: #FFFFFF;
            border-radius: 200px;
            box-shadow: 5px 30px 50px 0px #2B2A2A0D;
            position: absolute;
            right: 40px;
            bottom: 147px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .right-side {
        p {
            width: 453px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 97px 5.2% 54px 5.2%;
    padding: 120px 149px 120px 149px;
    background-color: #FFFBF4;
    .cards-container {
        display: flex;
        flex-direction: row;
        gap: 31px;
        margin-top: 70px;
        margin-bottom: 60px; 
        .card {
            border-radius: 20px;
            background-color: #FFFFFF;
            box-shadow: 5px 30px 50px 0px #2B2A2A0D;
            padding: 24px 30px 30px 30px;
            width: 453px;
            .grey-space {
                background-color: #C4C4C4;
                width: 393px;
                height: 280px;
                border-radius: 20px 20px 0 0;
            }
            h1 {
                font-family: "Poppins";
                line-height: 34px;
                margin-top: 24px
            }
            p {
                font-family: "Rubik";
                color: #6F6F76;
                line-height: 32px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            button {
                border: none;
                background-color: #FFFFFF;
                color: #FFA502;
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}

.section-4 {
    padding: 96px 13% 85px 13%;
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1 {
            width: 400px;
        }
    }
    .teachers-container {
        margin-top: 213px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 83px;
        .teacher {
            display: flex;
            flex-direction: column;
            align-items: center;
            .circle {
                border-radius: 1000px;
                width: 394.86px;
                height: 394.86px;
            }
            .purple-bg {
                background-color: #D9D1FB;
            }
            .green-bg {
                background-color: #9BF5CB;
            }
            .orange-bg {
                background-color: #FEC6A2;
            }
            h1 {
                font-family: "Poppins";
                font-size: 28px;
                font-weight: 700;
                line-height: 34px;
                color: #3B3B3B;
                margin-top: 34px;
            }
            p {
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                color: #6F6F76;
                margin-top: 6px;
            }
            .icons-container {
                margin-top: 20px;
                display: flex;
                gap: 16px;
            }
        }
    }
}

.section-5 {
    margin: 50.65px 13% 347px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cards-container {
        position: relative;
        height: 490px;
        width: 816.27px;
    }
    .card {
        width: 695.27px;
        border-radius: 18.17px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 48.45px 48.45px 40.34px 48.45px;
    }
    .active {
        background-color: #FFA502;
        box-shadow: -10px 20px 40px 0px #FFA50266;
        color: #FFFFFF;
        position: absolute;
        left: 121px;
        z-index: 1;
    }
    .inactive {
        background-color: #FFFFFF;
        box-shadow: 0px 15px 35px 0px #0000000D;
        color: #6F6F76;
        position: absolute;
        bottom: 0;
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile {
            display: flex;
            align-items: center;
            gap: 19px;
            .display {
                background-color: #C4C4C4;
                width: 87.21px;
                height: 87.21px;
                border-radius: 100px;
            }
            .detail {
                h1 {
                    font-family: "Poppins";
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.24px;
                }
                h2 {
                    font-family: "Rubik";
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 34px;
                }
            }
        }
    }
    .review {
        font-family: "Rubik";
        font-size: 24px;
        font-weight: 400;
        line-height: 48px;
    }
    .arrow-btn {
        display: flex;
        gap: 24px;
        position: absolute;
        right: 32.27px;
        bottom: 50px;
        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 50px;
            border: 2px solid #111116;
            background-color: white;
        }
        .right {
            transform: rotate(180deg);
            background-color: #111116;
            box-shadow: 0px -10px 20px 0px #585867 inset;
            svg path {
                fill: white;
            }
        }
    }
    .description {
        width: 453px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
}

.section-6 {
    background-color: #2A2A31;
    padding: 67px 13% 67px 13%;
    display: flex;
    gap: 65px;
    align-items: center;
    .sign {
        width: 457.47px;
        position: relative;
        h1 {
            font-family: "Poppins";
            font-size: 40px;
            color: #FFFFFF;
        }
        svg {
            position: absolute;
            right: 0;
            bottom: 4.47px;
        }
    }
}

footer {
    padding: 140px 13% 30px 13%;
    background-color: #111116;
    .upper-section {
        display: flex;
        justify-content: space-between;
        h1{
            font-family: "Poppins";
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #F2F2F2;
        }
        a {
            font-family: "Rubik";
            font-weight: 400;
            font-size: 16px;
            line-height: 18.96px;
            color: #B2B2B2;
        }
        span {
            font-weight: 500;
            color: #F2F2F2;
        }
        .first-column {
            display: flex;
            flex-direction: column;
            a {
                line-height: 32px;
                margin-top: 3.5px;
                margin-bottom: 48.85px;
                width: 307.86px;
            }
        }
        .column {
            display: flex;
            flex-direction: column;
            gap: 27px;
        }
    }
    hr {
        border: 1px solid rgba(179, 179, 179, 0.193);
        margin-top: 50px;
        margin-bottom: 16px;
    }
    .copyright {
        color: #B2B2B2;
        display: flex;
        justify-content: center;
        font-family: "Rubik";
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 23px 6.4%;
        .container {
            .menu {
                display: none;
            }
            svg {
                width: 59px;
                height: 33;
            }
        }
        button {
            display: none;
        }
        .category {
            display: block;
        }
    }

    .banner {
        flex-direction: column-reverse;
        padding: 54px 6.4% 70px 6.4%;
        .circle {
            width: 294.78px;
            height: 295.25px;
        }
        .email-noti {
            left: -30px;
            .email-card {
                border-radius: 8.74px;
                padding: 14px 11.4px 10.5px 11.4px;
                width: 88px;
                .email-icon {
                    padding: 5.25px;
                    top: -10.5px;
                    left: 33.23px;
                    svg {
                        width: 10.49px;
                        height: 10.49px;
                    }
                }
                h3 {
                    font-size: 7px;
                    line-height: 10.49px;
                }
                p {
                    font-size: 7px;
                    line-height: 11.37px;
                }
            }
        }
        .student-noti {
            right: -22.56px;
            .student-card {
                border-radius: 8.74px;
                padding: 14px 10.5px;
                width: 87.44px;
                .heart-icon {
                    padding: 5.25px;
                    top: -10.5px;
                    left: 33.23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 10.49px;
                        height: 10.49px;
                    }
                }
                h3 {          
                    font-size: 13.12px;
                    line-height: 19.67px;
                }
                p {
                    font-size: 7.87px;
                    line-height: 12.24px;
                }
                .students-container {
                    margin-top: 7px;
                    .student {
                        width: 20.26px;
                        height: 20.26px;
                        border: 0.18px solid #FFFFFF;
                    }
                    .overlap {
                        margin-left: -5px;
                    }
                }
            }
        }
    }
    .left-side {
        width: 100%;
        h1 {
            font-size: 30px;
            line-height: 40px;
        }
        p {
            width: 100%;
            margin-top: 16px;
            margin-bottom: 30px;
        }
    }
    .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, footer{
        display: none;
    }
    
}   