* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.h-1 {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 58px;
    color: #111116;
}

.p-1 {
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #6F6F76;
}

.primary-btn {
    padding: 19px 30px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #FFA502;
    box-shadow: 5px 10px 30px 0px #FFA5024D;
    font-family: "Rubik";
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .h-1 {
        line-height: 34px;
    }
} 