.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.h-1 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    color: #111116;
}

.p-1 {
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #6F6F76;
}

.primary-btn {
    width: 180px;
    height: 70px;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #FFA502;
    box-shadow: 5px 10px 30px 0px #FFA5024D;
    font-family: "Rubik";
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 33.62px 13% 33.62px 13%;
    background-color: #F7FCF9;
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        .menu {
            margin-left: 120px;
            display: flex;
            gap: 60px;
            font-family: 'Rubik';
            font-size: 18px;
            color: #111116;
            a {
                text-decoration: none;
                position: relative;
            }
            a:hover::after {
                content: '';
                position: absolute;
                bottom: -3.43px;
                left: 0;
                width: 50%; 
                height: 1.38px; 
                background-color: #FFBE48; 
                margin-left: 25%;
            }
        }
    }
    button {
        border: none;
        border-radius: 15px;
        color: #FFFFFF;
        font-family: 'Rubik';
        font-size: 16px;
        background-color: #111116;
        box-shadow: 0px -10px 20px 0px #585867 inset;
        width: 162px;
        height: 64px;
    }
}

.banner {
    background: linear-gradient(to top, #FFFBF4 21.32%, #F7FCF9 132.04%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 106.17px 7.5% 38.5px 13%;
}
.left-side {
    h1 {
        font-family: "Poppins";
        font-size: 80px;
        color: #111116;
        line-height: 90px;
    }
    p {
        font-family: "Rubik";
        font-size: 18px;
        color: #6F6F76;
        width: 29.5vw;
        line-height: 36px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
.right-side {
    position: relative;
    .circle {
        width: 674.26px;
        height: 674.26px;
        background: linear-gradient(180deg, #FFF1DB 36.7%, #FAFCF7 100%);
        border-radius: 1000px;
    }
    .email-noti {
        position: absolute;
        left: -5.2%;
        top: 12.7%;
        .email-card {
            background-color: #FFFFFF;
            box-shadow: 5px 15px 50px 0px #0000001A;
            border-radius: 20px;
            padding: 32px 26px 24px 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            position: relative;
            .email-icon {
                background-color: #6B47FC;
                box-shadow: 2px 8px 20px 0px #6B47FC80;
                padding: 12px;
                width: fit-content;
                border-radius: 50px;
                display: flex;
                align-items: center;
                position: absolute;
                top: -24px;
                left: 76px;
            }
            h3 {
                font-family: "Poppins";
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                color: #111116;
            }
            p {
                font-family: "Rubik";
                font-size: 16px;
                line-height: 26px;
                color: #6F6F76;
            }
        }
    }
    .student-noti {
        position: absolute;
        right: 0;
        top: 5.5%;
        .student-card {
            background-color: #FFFFFF;
            box-shadow: 5px 15px 50px 0px #0000001A;
            border-radius: 20px;
            padding: 32px 26px 32px 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            position: relative;
            .heart-icon {
                background-color: #51C8FF;
                box-shadow: 2px 8px 20px 0px #51C8FF80;
                padding: 12px;
                width: fit-content;
                border-radius: 50px;
                display: flex;
                align-items: center;
                position: absolute;
                top: -24px;
                left: 76px;
            }
            h3 {
                font-family: "Poppins";
                font-size: 30px;
                line-height: 45px;
                font-weight: 700;
                color: #111116;
            }
            p {
                font-family: "Rubik";
                font-size: 16px;
                line-height: 28px;
                color: #6F6F76;
            }
            .students-container {
                display: flex;
                flex-direction: row;
                margin-top: 16px;
                .student {
                    width: 46.33px;
                    height: 46.33px;
                    background-color: #C4C4C4;
                    border: 0.41px solid #FFFFFF;
                    border-radius: 50px;
                }
                .overlap {
                    margin-left: -10px;
                }
            }
        }
    }
    .painting {
        position: absolute;
        top: 46%;
        left: -6.5%;
        width: 115%;
        img {
            width: 100%;
            height: auto;
        }
    }
}
    
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 73px;
    padding: 77px 13% 70px 13%;
    gap: 40px;
    .logos-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img{
            padding: 10px 17px 5px 17px;
            height: fit-content;
        }
        img:hover {
            border-radius: 20px;
            box-shadow: 5px 30px 60px 0px #5555551A;
        }
    }
}

.section-2 {
    margin-top: 77px;
    padding: 63px 13% 81px 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left-side {
        width: 668.06px;
        height: 632px;
        position: relative;
        .blue-circle {
            width: 574px;
            height: 574px;
            background-color: #D4EFF6;
            border-radius: 1000px;
            position: absolute;
            bottom: 0;
        }
        .yellow-circle {
            width: 453px;
            height: 453px;
            background-color: #FEE095;
            border-radius: 1000px;
            position: absolute;
            right: 0;
        }
        .play-circle {
            width: 120px;
            height: 120px;
            background-color: #FFFFFF;
            border-radius: 200px;
            box-shadow: 5px 30px 50px 0px #2B2A2A0D;
            position: absolute;
            right: 40px;
            bottom: 147px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .right-side {
        p {
            width: 453px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 97px 5.2% 54px 5.2%;
    padding: 120px 149px 120px 149px;
    background-color: #FFFBF4;
    .cards-container {
        display: flex;
        flex-direction: row;
        gap: 31px;
        margin-top: 70px;
        margin-bottom: 60px; 
        .card {
            border-radius: 20px;
            background-color: #FFFFFF;
            box-shadow: 5px 30px 50px 0px #2B2A2A0D;
            padding: 24px 30px 30px 30px;
            width: 453px;
            .grey-space {
                background-color: #C4C4C4;
                width: 393px;
                height: 280px;
                border-radius: 20px 20px 0 0;
            }
            h1 {
                font-family: "Poppins";
                line-height: 34px;
                margin-top: 24px
            }
            p {
                font-family: "Rubik";
                color: #6F6F76;
                line-height: 32px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            button {
                border: none;
                background-color: #FFFFFF;
                color: #FFA502;
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}

.section-4 {
    padding: 96px 13% 85px 13%;
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1 {
            width: 400px;
        }
    }
    .teachers-container {
        margin-top: 213px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 83px;
        .teacher {
            display: flex;
            flex-direction: column;
            align-items: center;
            .circle {
                border-radius: 1000px;
                width: 394.86px;
                height: 394.86px;
            }
            .purple-bg {
                background-color: #D9D1FB;
            }
            .green-bg {
                background-color: #9BF5CB;
            }
            .orange-bg {
                background-color: #FEC6A2;
            }
            h1 {
                font-family: "Poppins";
                font-size: 28px;
                font-weight: 700;
                line-height: 34px;
                color: #3B3B3B;
                margin-top: 34px;
            }
            p {
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                color: #6F6F76;
                margin-top: 6px;
            }
            .icons-container {
                margin-top: 20px;
                display: flex;
                gap: 16px;
            }
        }
    }
}